* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(14, 13, 13);
}

.container {
    color: #fff;
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
    text-align: center;    
}



form {
    margin-top: 100px;
}

input, button {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: rgb(30, 209, 111);
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: rgb(73, 223, 140);
}